body {
	background-color: #B8860B;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 800px;
}

.textname {
	font-weight: bolder;
}
.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}